[req]
default_bits=2048
prompt=no
default_md=sha256
distinguished_name=dn

[dn]
C=US
ST=NY
L=New York
O=Atyantik Technologies Private Limited
OU=Development
emailAddress=contact@atyantik.com
CN = localhost
