<tr class="contact-wraper">
  <td class="contact-row">
      <table width="100%">
          <tr>
              <td>
                <h3>Footer</h3>
              </td>
          </tr>
      </table>
  </td>
</tr>
